<header></header>

<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<div class="jumbotron" style="margin-top: 10px;">
				<h1>Selamat datang {{vm.user.username}}! <h1>
				<div ng-if="vm.layerList.length > 0">
					<p>
						Silahkan kembali ke halaman utama untuk menggunakan aplikasi ini! <br>
					</p>
					<p>
						<a ui-sref="main" class="btn btn-primary active" role="button" aria-pressed="true">Halaman Utama</a>
						<a ui-sref="adminDashboard" class="btn btn-primary active" role="button"  ng-if="vm.user.role === 'admin'">Halaman Admin</a>
					</p>
				</div>
			</div>

			<div class="panel panel-default" style="margin-top: 15px;">
				<div class="panel-body">
					<h3 ng-if="vm.layerList.length == 0">kelihatannya anda tidak memiliki satu layerpun. silahkan membuat sebuah layer terlebih dahulu sebelum anda ke halaman utama SIGAP!</h3>
					<h5 ng-if="vm.layerList.length > 0">Jika ingin, ada bisa menambahkan layer baru disini:</h5>
					<form id="inputlayerform" ng-submit="vm.addNewLayer(vm.newLayer)" class="form-inline">
						<label for="inputLayerName" class="sr-only">Nama Layer:</label>
						<input type="text" id="inputLayerName" class="form-control" placeholder="Nama Layer" required="" autofocus="" ng-model="vm.newLayer.name">
						<button class="btn btn-primary" type="submit">tambah</button>
					</form>
				</div>
			</div>

			<div class="panel panel-default" style="margin-top: 15px;">
				<div class="panel-heading">
					<h3 class="panel-title">List layer anda</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped" id="tabel-layer">
						<tr>
							<th>No</th>
							<th>Nama Layer</th>
							<th></th>
						</tr>
						<tr ng-repeat="layer in vm.layerList">
							<td>{{$index+1}}.</td>
							<td>{{layer.name}}</td>
							<td><button type="button" class="btn btn-sm btn-success" ng-click="vm.bukaModal(layer, vm.markers)">Lihat Tabel koordinatnya</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>