<header></header>

<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<div class="jumbotron" style="margin-top: 10px;">
				<h1>Selamat datang {{vm.user.username}}! <h1>
				<div>
					<p ng-if="vm.layerList.length > 0">
						Silahkan kembali ke halaman utama (peta) untuk menggunakan aplikasi ini! <br>
					</p>
					<p>
						<a ui-sref="main" class="btn btn-primary" role="button" aria-pressed="true" ng-if="vm.layerList.length > 0"1><i class="glyphicon glyphicon-map-marker"></i> Halaman Peta</a>
						<a ui-sref="adminDashboard" class="btn btn-info" role="button" ng-if="vm.user.role === 'admin'"><i class="glyphicon glyphicon-wrench"></i> Halaman Admin</a>
            <a ui-sref="userDashboard" class="btn btn-success" role="button"><i class="glyphicon glyphicon-cog"></i> User Setting</a>
					</p>
				</div>
			</div>

			<div class="panel panel-default" style="margin-top: 15px;">
				<div class="panel-body">
					<h3 ng-if="vm.layerList.length == 0">kelihatannya anda tidak memiliki satu layerpun. silahkan membuat sebuah layer terlebih dahulu sebelum anda ke halaman utama SIGAP!</h3>
					<h5 ng-if="vm.layerList.length > 0">Jika ingin, ada bisa menambahkan layer baru disini:</h5>
					<form id="inputlayerform" ng-submit="vm.addNewLayer(vm.newLayer)" class="form-inline">
						<label for="inputLayerName" class="sr-only">Nama Layer:</label>
						<input type="text" id="inputLayerName" class="form-control" placeholder="Nama Layer" required="" autofocus="" ng-model="vm.newLayer.name">
						<button class="btn btn-primary" type="submit">tambah</button>
					</form>
				</div>
			</div>

			<div class="panel panel-default" style="margin-top: 15px;">
				<div class="panel-heading">
					<h3 class="panel-title">List layer anda</h3>
				</div>

				<div class="panel-body">

          <uib-tabset active="active">
            <!-- TAB LAYER AKTIF -->
            <uib-tab index="0" heading="Layer Aktif">
              <table class="table table-striped" id="tabel-layer">
                <tr>
                  <th>No</th>
                  <th>Nama Layer</th>
                  <th></th>
                </tr>
                <tr ng-repeat="layer in vm.layerList | filter: {isDeleted: false}">
                  <td>{{$index+1}}.</td>
                  <td>
                    <span ng-if="layer.toggle == false || !layer.toggle">{{layer.name}}</span>
                    <div class="input-group input-group-sm" ng-if="layer.toggle == true">
                      <input type="text" class="form-control" placeholder="Nama Layer baru" ng-model="layer.name" required="">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-success" ng-click="vm.editLayer(layer)" ng-disabled="layer.name == null">
                          <i class="glyphicon glyphicon-floppy-disk"></i>
                          <span>SAVE</span>
                        </button>
                        <button type="button" class="btn btn-sm btn-info" ng-click="vm.cancelEditLayer(layer)">
                          <i class="glyphicon glyphicon-remove"></i>
                          <span>CANCEL</span>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.clickToEditLayer(layer)" ng-if="false || !layer.toggle">
                      <i class="glyphicon glyphicon-pencil"></i>
                      <span>Edit</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-success" ng-click="vm.bukaModal(layer, vm.markers)">
                      <i class="glyphicon glyphicon-list"></i>
                      <span>Lihat Tabel koordinatnya</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="vm.clickToDeactivateLayer(layer)">
                      <i class="glyphicon glyphicon-trash"></i>
                      <span>Nonaktifkan Layer</span>
                    </button>
                  </td>
                </tr>
              </table>
            </uib-tab>
            <!-- TAB LAYER TIDAK AKTIF -->
            <uib-tab index="1" heading="Layer Tidak Aktif (delete)">
              <table class="table table-striped" id="tabel-layer">
                <tr>
                  <th>No</th>
                  <th>Nama Layer</th>
                  <th></th>
                </tr>
                <tr ng-repeat="layer in vm.layerList | filter: {isDeleted: true}">
                  <td>{{$index+1}}.</td>
                  <td>
                    <span ng-if="layer.toggle == false || !layer.toggle">{{layer.name}}</span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.clickToActivateLayer(layer)">
                      <i class="glyphicon glyphicon-ok"></i>
                      <span>Aktifkan Layer</span>
                    </button>
                  </td>
                </tr>
              </table>
            </uib-tab>

          </uib-tabset>


				</div>
			</div>
		</div>
	</div>

</div>
