//overwrite the default path set by bootstrap _variables.scss for $icon-font-path where it pointed to ../fonts/bootstrap
$icon-font-path: '../fonts/' !default;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

@import "styles/navbar.scss";

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.blinking {
  background-color: fuchsia;
}

// leaflet-control-layers
.leaflet-draw-section {
  visibility: hidden;
}

// hide selector control
// .leaflet-control-layers.leaflet-control {
// 	display: none;
// }

// .angular-leaflet-control-layers {
//   position: absolute;
//   background: white;
//   z-index: 100;
//   left: 10px;
//   top: 100px;
//   width: 200px;
//   box-shadow: 1px 1px 5px #333;
//   padding: 5px;
// }

// .angular-leaflet-control-layers .lf-row label {
//   cursor: pointer;
//   width: 75%;
// }

// .angular-leaflet-control-layers .lf-row .lf-icon-ol {
//   padding-left: 8px;
// }

// .angular-leaflet-control-layers .lf-row .lf-icon {
//   cursor: pointer;
//   float: left;
//   margin-right: 5px;
//   padding-top: 2px;
// }

// .angular-leaflet-control-layers .lf-row label .lf-text {
//   float: left;
// }

// .angular-leaflet-control-layers .lf-row .lf-icon-ol-group {
//   color: #00650a;
// }

// .angular-leaflet-control-layers .lf-row .lf-icons {
//   float: right;
// }

// Form Login
.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

// Main page layout
.main {
  .col-xs-12 {
    padding-right: 0px;
  }
  .col-xs-7 {
    padding-right: 0px;
  }
}

.container-box {
  position: relative;
}
.button-abs {
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 5000;
}

.leaflet-control-layers {
  max-height: 400px;
  overflow: auto;
}


