//overwrite the default path set by bootstrap _variables.scss for $icon-font-path where it pointed to ../fonts/bootstrap
$icon-font-path: '../fonts/' !default;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

@import "styles/navbar.scss";

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.blinking {
  background-color: fuchsia;
}